.d-block {
    display: block;
    background-color: aquamarine;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 30px;
    margin: 20px;
}
.d-inline {
    display: inline;
    background-color: pink;
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    padding: 30px;
    margin: 20px;
}
.d-inline-block {
    display: inline-block;
    background-color: yellow;
    border: 1px solid gray;
    width: 100px;
    height: 100px;
    padding: 30px;
    margin: 20px;
}

/* min & max */
.parent {
    width: 300px;
    height: 200px;
    background-color: orange;
}

.parent .min {
    min-width: 400px;
    height: 100px;
    background-color: red;
}

.parent .max {
    max-width: 400px;
    width: 350px;
    height: 100px;
    background-color: green;
}

.box {
    background-color: skyblue;
    border: 1px solid black;
}

.box-px {
    width: 50px;
    height: 50px;
}
.box-view {
    width: 50vw;
    height: 50vh;
}
.box-per {
    width: 50%;
    height: 50%;
}

.rem {
    font-size: 2rem;
}
.em {
    font-size: 2em;
}

.square {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    cursor: pointer;
}

.rounded {
    border-radius: 10px;
    border-radius: 50%;
    /* 단축속성 */
    border-radius: 5px 40px;
    border-radius: 5px 20px 40px;
    border-radius: 5px 20px 30px 50px;
}
.box-sizing {
    padding: 20px;
    border: 15px solid red;
    background-color: tomato;
}

.content-box{
    /* 기본값 */
    box-sizing: content-box;
}
.border-box{
    box-sizing: border-box;
}

.d-none {
    /* 속성과 자리 모두 사라짐 */
    display: none;
    background-color: red;
}
.invisible {
    /* 속성은 없음, 자리는 남아있음 */
    visibility: hidden;
    background-color: orangered;
}
.opacity-0 {
    /* 속성과 자리 모두 남아있음 */
    opacity: 0;
    background-color: tomato;
}

.blue {
    width: 200px;
    height: 200px;
    background-color: blue;
}
.blue:hover {
    opacity: 0;
}

.square img[alt='pooh'] {
    width: 200px;
}

.overflow-hidden{
    overflow: hidden;
}
.overflow-auto{
    /* 넘칠 때만 스크롤 생성 */
    overflow: auto;
}
.overflow-scroll{
    /* 넘치지 않아도 스크롤 생성 => 사용 권장하지 않음 */
    overflow: scroll;
}
.overflow-visible{
    /* 기본값 - 넘치도록 다 보여짐 */
    overflow: visible;
}