.div1 {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px; /* 세로 글자 간격 - height 값에 맞추면 중앙 정렬됨 */
    background-color: skyblue;
}

/* 가상 클래스 선택자
 - hover: 요소에 마우스가 올라가 있는 동안
 - active: 요소에 마우스 클릭 or 엔터가 눌리는 동안
 - focus: 요소에 포커스가 머물러 있는 동안
 - visited: 요소가 링크일 때, 방문했다면 스타일 변경
 - checked: 요소가 체크되었을 때(radio, checkbox)
*/

.div1:hover {
    background-color: yellow;
    height: 150px;
}
.div1:active {
    background-color: orange;
    width: 150px;
}
input:focus {
    background-color: blueviolet;
    color: #fff;
    outline-color: aqua; /* input 테두리 색상 */
}
a:visited {
    color: #ccc;
}

input#rabbit:checked + label{
    background-color: pink;
    color: white;
}