/* COMMON */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  color: #262626;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 123px;
  background-color: #fff;
  z-index: 1000;
}
header .container {
  height: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

/* header - topbar */
header .container .topbar {
  padding-top: 18px;
}
header .container .topbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .container .topbar ul li:first-child::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #e0e0e0;
  margin: 0 10px 0 14px;
}
header .container .topbar ul li a {
  font-size: 0.75rem;
  font-weight: 300;
  color: #8b8b8b;
  line-height: 20px;
}
header .container .topbar ul li.topbar_sns {
  margin: 3px 0 0 10px;
}
header .container .topbar ul li.topbar_sns a {
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* header - nav_wrap */
header .container .nav_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
}
header .container .nav_wrap .logo {
  width: 206px;
  height: 70px;
  background: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}
header .container .nav_wrap .menu {
  width: 72%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 45px;
}
header .container .nav_wrap .menu > li {
  position: relative;
  height: 34px;
  width: 120px;
  overflow: hidden;
}
header .container .nav_wrap .menu > li:last-of-type {
  width: auto;
}

header .container .nav_wrap .menu li a {
  color: #202020;
  font-size: 0.937rem;
  font-weight: 400;
}
header .container .nav_wrap .menu > li .sub_menu {
  margin-top: 35px;
}
header .container .nav_wrap .menu > li .sub_menu li {
  margin: 5px 0;
}
header .container .nav_wrap .menu > li .sub_menu li a {
  font-weight: 300;
}
header .container .nav_wrap .menu > li .sub_menu li:hover a {
  font-weight: 900;
}

/* header menu hover -> sub_menu */
header .container .nav_wrap .menu .sub_menu_bg {
  position: fixed;
  width: 100%;
  height: 0;
  background-image: url("../img/menu-bg.jpeg");
  border-bottom: 2px solid #fff;
  top: 123px;
  left: 0;
  z-index: -1;
  transition: height 0.5s;
}
header .container .nav_wrap .menu > li:hover {
  height: 200px;
  transition: height 0.5s;
}

header
  .container
  .nav_wrap
  .menu
  > li:not(.menu > li:last-of-type):hover
  ~ .sub_menu_bg {
  height: 165px;
}
header .container .nav_wrap .menu > li > a {
  position: relative;
}
header
  .container
  .nav_wrap
  .menu
  > li:not(.menu > li:last-of-type):hover
  > a::after {
  content: "";
  display: block;

  /* 삼각형 */
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 14px solid #fff;

  position: absolute;
  top: 33px;
  left: 0;
  right: 0;
  margin: auto;
}

/* main */
main {
  width: 100%;
  margin-top: 123px;
}

/* mainVisual */
main .mainVisual {
  width: 100%;
  overflow: hidden;
}
main .mainVisual .slider {
  display: flex;
  width: 600%;
}
main .mainVisual .slider li {
  width: 100%;
}
main .mainVisual .slider li a {
  display: inline-block;
  height: 100%;
}
main .mainVisual .slider li a img {
  width: 100%;
  height: 100%;
}

/* mainContents */
.mainContents {
  display: grid;
  grid-template-rows: 320px repeat(2, 460px) 620px;
  grid-template-columns: repeat(10, 1fr);
  gap: 0;
}
.mainContents .article {
  position: relative;
  overflow: hidden;
}
.mainContents .article1 {
  grid-column: 1 / span 5;
  background-image: url("../img/main_sec1.jpeg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 60%;
}
.mainContents .article2 {
  grid-column: 6 / span 5;
  background-color: #253f85;
  background-image: url("../img/main_intro_bn.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 80%;
}
.mainContents .article3 {
  grid-column: 1 / span 10;
}
.mainContents .article4 {
  grid-column: 1 / span 6;
}
.mainContents .article5 {
  grid-column: 7 / span 4;
}
.mainContents .article6 {
  grid-column: 5 / span 6;
  grid-row: 4 / span 2;
  margin-top: 15px;
}

.mainContents .section_store {
  grid-column: 1 / span 4;
}
.mainContents .section_store .article7,
.mainContents .section_store .article8 {
  background-color: #fff;
  border: 2px solid #071f60;
  margin: 15px;
  height: calc(50% - 15px);
  margin-left: calc((100vw - 1150px) / 2 - 15px);
  min-width: 400px;
}
.mainContents .section_store .article8 {
  background-image: url("../img/main_sec6.png");
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: right bottom;
}

.mainContents .article a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 40px 80px;
  cursor: pointer;
}
.mainContents .article5 a,
.mainContents .article6 a {
  padding: 40px;
}
.mainContents .article7,
.mainContents .article8 a {
  padding: 25px 30px;
}

/* article img hover */
.mainContents .article a img {
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;
}
.mainContents .article a:hover img {
  transform: translateX(-50%) scale(105%);
}

.mainContents .article h2 {
  font-weight: 900;
  /* font-size: 3rem; */
  font-size: 3.6vw;
}
.mainContents .article p {
  font-weight: 400;
  /* font-size: 1.125rem; */
  font-size: 1.25vw;
  line-height: 1.4;
  margin-top: 10px;
}

.mainContents .article1 h2,
.mainContents .article4 h2,
.mainContents .article7 h2,
.mainContents .article8 h2 {
  color: #071f60;
}
.mainContents .article2 h2,
.mainContents .article6 h2 {
  color: #fff;
}
.mainContents .article3 h2 {
  color: #6b4d30;
}
.mainContents .article5 h2 {
  color: #f1ae1d;
}
.mainContents .article6 h2,
.mainContents .article7 h2,
.mainContents .article8 h2 {
  /* font-size: 2rem; */
  font-size: 2.4vw;
}
.mainContents .article3 h2::after,
.mainContents .article4 h2::after,
.mainContents .article5 h2::after,
.mainContents .article6 h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fff;
  margin: 20px 0 25px;
}
.mainContents .article3 h2::after {
  background-color: #6b4d30;
}
.mainContents .article4 h2::after {
  background-color: #071f60;
}
.mainContents .article5 h2::after {
  background-color: #f1ae1d;
}

.mainContents .article1 p,
.mainContents .article3 p,
.mainContents .article4 p,
.mainContents .article5 p,
.mainContents .article7 p,
.mainContents .article8 p {
  color: #202020;
}
.mainContents .article2 p {
  color: #c4cbde;
}
.mainContents .article7 p,
.mainContents .article8 p {
  /* font-size: 1rem; */
  font-size: 1.2vw;
}
.mainContents .article .view_btn {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  background-image: url("../img/view_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 40px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.mainContents .article8 .view_btn {
  background-image: url("../img/store-ico.png");
  background-size: 45%;
}

.mainContents .section_store .article7 {
  position: relative;
}
.mainContents .section_store .article7 form {
  position: absolute;
  bottom: 45px;
}
.mainContents .section_store .article7 form input[type="search"] {
  width: 320px;
  height: 50px;
  border: 2px solid #071f60;
  padding-left: 15px;
}
.mainContents .section_store .article7 form input[type="search"]::placeholder {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  color: #a2afd1;
  font-size: 0.9rem;
}
.mainContents .section_store .article7 form input[type="submit"] {
  border: none;
  background-color: transparent;
  text-indent: -9999px;
  overflow: hidden;
  width: 25px;
  height: 25px;
  background-image: url("../img/search-ico.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: -40px;
}

/* section_sns */
.section_sns {
  height: 300px;
  text-align: center;
  padding: 60px 45px 80px;
}
.section_sns h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  color: #202020;
  letter-spacing: 3px;
}
.section_sns p {
  font-size: 1rem;
  color: #999;
  margin-top: 15px;
  word-spacing: 5px;
}
.section_sns p::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: #0e3472;
  margin: 30px auto;
}
.section_sns a {
  display: inline-block;
  width: 35px;
  height: 35px;
}
.section_sns a img {
  width: 100%;
  height: 100%;
}
.section_sns a:first-of-type {
  margin-right: 10px;
}

/* footer */
footer {
  border-top: 3px solid #ffe600;
  background-color: #fff;
  padding: 30px 0;
  text-align: center;
  position: relative;
}
footer a#footerLogo {
  display: block;
  width: 179px;
  height: 47px;
  margin: 0 auto;
}
footer a#footerLogo img {
  width: 100%;
}
footer .company_info {
  margin: 30px 0;
}
footer .company_info div {
  margin-bottom: 3px;
}
footer .company_info div li {
  display: inline-block;
  font-size: 0.812rem;
}
footer .company_info div li::after {
  content: "|";
  margin: 0 10px 0 14px;
}
footer .company_info div li:last-child::after {
  content: "";
  margin: 0;
}
footer .family_site {
  position: absolute;
  right: calc((100vw - 1150px) / 2);
  top: 30px;
  font-size: 0.75rem;
}
footer .family_site span {
  display: block;
  width: 175px;
  height: 24px;
  border: 1px solid #262626;
  line-height: 24px;
  cursor: pointer;
}
footer .family_site ul {
  display: none;
  border: 1px solid #262626;
  width: 175px;
  text-align: left;
  padding: 0 5px;
  background-color: #fff;
  z-index: 100;
  margin-top: -417px;
}
footer .family_site ul li {
  padding: 5px 0;
}
footer .family_site ul li a {
}
footer p {
  font-size: 0.812rem;
}

@media (max-width: 1200px) {
  .mainContents .section_store .article7,
  .mainContents .section_store .article8 {
    margin-left: 0;
  }
}
